@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: white;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  overflow: hidden;
}
html {
  background: #5150f7;
}
.App {
  display: grid;
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.homePage {
  position: relative;
}
.unicorn-studio-embed {
  color: white;
  background: #5150f7;
  width: 100%;
  height: 120dvh;
  padding: 0;
  margin: 0;
  z-index: -10;
}
.unicorn-studio-embed a {
  opacity: 0;
}
.hideWaterMark {
  width: 100%;
  height: 100dvh;
  display: flex;
  place-items: center;
  overflow: hidden;
}
.emptyPage {
  width: 100%;
  height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
}
.scroll-page {
  scroll-snap-align: start;
  height: 100dvh;
}
.page2 {
  background: linear-gradient(0deg, #000000 0%, #5150f7 100%);
}
.page3 {
  background: #000000;
}
.page4 {
  background: linear-gradient(0deg, #5150f7 0%, #000000 100%);
}
.page5 {
  background: #5150f7;
}
::-webkit-scrollbar {
  display: none;
}
/* Fade-in effect for sections */
.fade-in-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0px);
}

@media screen and (max-width: 568px) {
  .unicorn-studio-embed {
    display: none;
  }
}
